mixin thumbCard(recipe)
	.col-md-4
		.card.mb-4.shadow-sm
			- var imagePath = `/images/${recipe.name}.png`
			- var isVeg = recipe.isVegetarian
			img(src=imagePath).bd-placeholder-img.card-img-top&attributes({"width": "100%"}, {"height": "225"}, {"focusable": "false"})
			.card-body
				.card-text #{recipe.description}
				.card-text Serves #{recipe.serves}
				.card-text.mb-4 Origin: #{recipe.origin}
				.d-flex.justify-content-between.align-items-center
					.btn-group
						button.btn.btn-sm.btn-outline-secondary
							a(href=recipe.url) View	details
					small.text-muted #{recipe.preparationTime} mins